.card-registro {
    padding: 5.25rem;
    text-align: center;
    width: 45%;
    margin: 0 auto;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.25rem;
}

.card-uscoHeader {
    font-family: Segoe UI;
    font-size: 45px;
    background-color: #8f141b;
    border-color: #707070;
    border-width: 1px;
    color: #CAB691;
    padding: 0.9rem;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card-uscoContent {
    background-color: #F9E4E4;
    color: #000;
    border-color: #8F141B;
    border-width: 100px;
    padding: 0.9rem;
}

.fuenteTitulo {
    text-align: center;
    width: 100%;
    font-family: Segoe UI;
    font: size 40px;
    font-weight: bold;
    color: #0F0D09;
}

.fuenteTituloDos {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: Segoe UI;
    font-weight: 400;
    font-style: italic;
    color: #0F0D09;
}

#fuenteTituloTresNombre {
    position: relative;
    left: 6%;
    margin-bottom: 5px;
    padding: 5px;
    margin-bottom: 5px;
    padding: 5px;
    width: 40%;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    font-family: Segoe UI;
    font-weight: 550;
}

#fuenteTituloPrograma {
    margin-bottom: 5px;
    padding: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    font-family: Segoe UI;
    font-weight: 550;
}

#fuenteTituloSede {
    position: relative;
    left: 6%;
    margin-bottom: 5px;
    padding: 5px;
    width: 40%;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    font-family: Segoe UI;
    font-weight: 550;
}

#fuenteTituloFacultad {
    margin-bottom: 5px;
    padding: 5px;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    font-family: Segoe UI;
    font-weight: 550;
}

#fuenteAtras {
    position: relative;
    left: 5%;
    text-align: left;
    margin-bottom: 5px;
    padding: 5px;
    color: #8F141B;
    display: inline-block;
    width: 48%;
    font-size: 20px;
    font-family: Segoe UI;
    font-weight: 550;
}

#fuenteTituloGenero {
    display: inline-block;
    width: 90%;
    text-align: left;
    font-size: 20px;
    font-family: Segoe UI;
    font-weight: 550;
}

#fuenteTituloTresApellido {
    margin-bottom: 5px;
    padding: 5px;
    width: 48%;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    font-family: Segoe UI;
    font-weight: 550;
}

#fuenteTituloTelefono {
    margin-bottom: 5px;
    padding: 5px;
    width: 48%;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    font-family: Segoe UI;
    font-weight: 550;
}

.uscoInputs {
    width: 45%;
    border-radius: 30px;
    padding: 0.6%;
    margin: 0.5em 1em 1em 1em;
    background-color: #fff;
    font-size: 20px;
    font-family: Segoe UI;
    color: black;
    font-style: italic;
}

.uscoInputsApellido {
    position: relative;
    right: 4%;
    width: 48%;
    border-radius: 30px;
    padding: 0.6%;
    background-color: #fff;
    font-family: Segoe UI;
    color: black;
    font-style: italic;
}

.uscoInputsNombre {
    position: relative;
    left: 3%;
    width: 38%;
    border-radius: 30px;
    padding: 0.6%;
    background-color: #fff;
    font-family: Segoe UI;
    color: black;
    font-style: italic;
}

.uscoInputsTelefono {
    width: 48%;
    border-radius: 30px;
    padding: 0.6%;
    background-color: #fff;
    font-family: Segoe UI;
    color: black;
    font-style: italic;
}

.uscoInputsPrograma {
    width: 48%;
    border-radius: 30px;
    padding: 0.6%;
    background-color: #fff;
    font-family: Segoe UI;
    color: black;
    font-style: italic;
}

.uscoInputsFacultad {
    width: 48%;
    border-radius: 30px;
    padding: 0.6%;
    background-color: #fff;
    font-family: Segoe UI;
    color: black;
    font-style: italic;
}

.uscoInputsGenero {
    width: 20%;
    float: left;
    border-radius: 30px;
    padding: 0.6%;
    margin: 0.5em 1em 1em 1em;
    background-color: #fff;
    font-size: 20px;
    font-family: Segoe UI;
    color: black;
    font-style: italic;
}

.uscoInputsSede {
    width: 48%;
    border-radius: 30px;
    padding: 0.6%;
    background-color: #fff;
    font-family: Segoe UI;
    color: black;
    font-style: italic;
}

.uscoButton {
    background-color: #8F141B;
    border-color: #707070;
    border-width: 1px;
    color: #DFD4A6;
    font-size: 120%;
    cursor: pointer;
    position: relative;
    right: 9%;
}

.g-recaptcha {
    width: 35%;
    float: right;
    background-color: #8F141B;
}

.contenedor-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input {
    margin-bottom: 15px;
    padding: 15px;
}

.espacio {
    width: 48%;
}