<app-header></app-header>
<div class="card-registro">
    <div class="card-uscoHeader">
        <h2>BANCO DE PROYECTOS</h2>
    </div>
    <div class="card-uscoContent">
        <h2 class="fuenteTitulo">REGISTRE SUS DATOS</h2>
        <h2 class="fuenteTituloDos">Por favor digite el siguiente formulario</h2>
        <div class="contenedor-inputs">
            <div class="espacio"></div>
            <div class="espacio"></div>
            <div id="fuenteTituloTresNombre"> TIPO DE USUARIO</div>
            <div id="fuenteTituloTresApellido"> CODIGO ESTUDIANTIL</div>
            <input type="text" name="nombre" placeholder="Seleccione..." class="uscoInputsNombre" required>
            <input type="text" name="apellidos" placeholder="Digite su codigo" class="uscoInputsApellido" required>
            <div id="fuenteTituloSede"> TIPO DE IDENTIFICACION</div>
            <div id="fuenteTituloTelefono"> NUMERO DE DOCUMENTO</div>
            <input type="text" name="sede" placeholder="Seleccione..." required class="uscoInputsNombre">
            <input type="tel" name="telefono" placeholder="Digite su numero de Id." class="uscoInputsApellido" required>
            <div class="espacio"></div>
            <div class="espacio"></div>
            <p id="fuenteAtras">Volver ATRAS</p>
            <input type="submit" value="SIGUIENTE" class="uscoButton" required>


        </div>


    </div>
</div>
<app-footer></app-footer>