<!--
    - Proyecto:         BPUS
    - Componente:       Plantilla solicitud
    - Desarrollador:    John David Guerrero Córdoba
    - Descripción:      Plantilla de solicitud con tablas dinámicas
    -Última modificación:  20/07/2019   
-->
<div class="container">
    <form>
        <div class="row">
            <div class="col-8">col-8</div>
            <div class="col-4">col-4</div>
          </div>
          <h1>Estudiantes</h1>
          <div class="row">
            <div class="col-8">
              <h4 class="uscoSesion">FORMULARIO DE INSCRIPCIÓN</h4>
            </div>
            <div class="col-4">col-4</div>
          </div>
          <h1>Información del proyecto</h1>
          <div class="row">
            <div class="col">
              1 of 2
            </div>
            <div class="col">
              2 of 2
            </div>
          </div>
          <h2>Consejeros</h2>
          <div class="row">
              <div class="col">
                1 of 2
              </div>
              <div class="col">
                2 of 2
              </div>
            </div>
    </form>
</div>