
<div *ngIf="_SolicitudService.totalSolicitudes != 0; else noSolicitudesRegistradas" class="table-responsive-md animated fadeIn fast">

<table class="table table-hover">
    <thead class="text-white" style="background-color: #8F141B;">
        <tr>
            <th>Título</th>
            <th>Fecha</th>
            <th>Estudiante(s)</th>
            <th>Archivo PDF</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let solicitud of solicitudes;  let i = index;">
            <td>{{ solicitud.tituloProyecto}}</td>
            <td>{{ solicitud.fechaSolicitud  }}</td>
            <td>{{ solicitud.estudiante1}}</td>
            <td>solicitud.pdf</td>
            <td>
                <button class="btn btn-primary mr-1">ACEPTAR</button>
                <button class="btn btn-danger">RECHAZAR</button>
            </td>
        </tr>
    </tbody>
</table>


</div>

<ng-template #noSolicitudesRegistradas>
    <h2 class="m-5">No hay solicitudes pendientes hasta el momento...</h2>
</ng-template>



<pdf-viewer [src]="'../../../../assets/Manual Factoria.pdf'" [render-text]="true" style="display: block;"></pdf-viewer>