<!--
    - Proyecto:         BPUS
    - Componente:       notificaciones.component
    - Desarrollador:    Jorge Andres Cutiva Tafur
    - Descripción:      Front de las notificaciones

-->


<body>
    <br><br>
    <div class='container animated fadeIn fast'>

        <h2>Tus notificaciones</h2>
        <br><br>

        <table>

            <tr>
                <td class="foto"><img src="../../../assets/usuario1.jpg"></td>
                <td class="informacion">Se aprobó tu solicitud para unirte a AJjakjskasjkasj sajalksjkalsjlkas jaslkjas asjslkaj</td>
                <td class="confirmacion">
                    <td><input type="button" class="btn uscoButton" value="ACEPTAR" (click)="showModal()"></td>
                    <td><input type="button" class="btn uscoButton" value="RECHAZAR" (click)="showModal2()"></td>

            </tr>
            <tr>
                <td class="foto"><img src="../../../assets/usuario1.jpg"></td>
                <td class="informacion">Se aprobó tu solicitud para unirte a AJjakjskasjkasj sajalksjkalsjlkas jaslkjas asjslkaj</td>
                <td class="confirmacion">
                    <td><input type="button" class="btn uscoButton" value="ACEPTAR" (click)="showModal()"></td>
                    <td><input type="button" class="btn uscoButton" value="RECHAZAR" (click)="showModal2()"></td>
            </tr>
            <tr>
                <td class="foto"><img src="../../../assets/usuario1.jpg"></td>
                <td class="informacion">Se aprobó tu solicitud para unirte a AJjakjskasjkasj sajalksjkalsjlkas jaslkjas asjslkaj</td>
                <td class="confirmacion">
                    <td><input type="button" class="btn uscoButton" value="ACEPTAR" (click)="showModal()"></td>
                    <td><input type="button" class="btn uscoButton" value="RECHAZAR" (click)="showModal2()"></td>
                    <tr>
                        <td class="foto"><img src="../../../assets/usuario1.jpg"></td>
                        <td class="informacion">Se aprobó tu solicitud para unirte a AJjakjskasjkasj sajalksjkalsjlkas jaslkjas asjslkaj</td>
                        <td class="confirmacion">
                            <td><input type="button" class="btn uscoButton" value="ACEPTAR" (click)="showModal()"></td>
                            <td><input type="button" class="btn uscoButton" value="RECHAZAR" (click)="showModal2()"></td>
                    </tr>
                    <tr>
                        <td class="foto"><img src="../../../assets/usuario1.jpg"></td>
                        <td class="informacion">Se aprobó tu solicitud para unirte a AJjakjskasjkasj sajalksjkalsjlkas jaslkjas asjslkaj</td>
                        <td class="confirmacion">
                            <td><input type="button" class="btn uscoButton" value="ACEPTAR" (click)="showModal()"></td>
                            <td><input type="button" class="btn uscoButton" value="RECHAZAR" (click)="showModal2()"></td>
                    </tr>
                    <tr>
                        <td class="foto"><img src="../../../assets/usuario1.jpg"></td>
                        <td class="informacion">Se aprobó tu solicitud para unirte a AJjakjskasjkasj sajalksjkalsjlkas jaslkjas asjslkaj</td>
                        <td class="confirmacion">
                            <td><input type="button" class="btn uscoButton" value="ACEPTAR" (click)="showModal()"></td>
                            <td><input type="button" class="btn uscoButton" value="RECHAZAR" (click)="showModal2()"></td>
                    </tr>
        </table>

    </div>

</body>
