<!--
    - Proyecto:         BPUS
    - Componente:       notificaciones.component
    - Desarrollador:    Jorge Andres Cutiva Tafur & Cristian Julián Andrade Murillo
    - Descripción:      Front de las notificaciones
-->
<div class='mt-3 container animated fadeIn fast'>
    <h2>Tus notificaciones</h2>
    <div>
        <ul class="mt-3 nav nav-justified" role="tablist">
            <li class="nav-item">
                <a (click)="activeTab('recibidasTab')" id="recibidasTab" class="nav-link activeTab font-weight-bold" href="#recibidas" role="tab" data-toggle="tab">Recibidas</a>
            </li>
            <li class="nav-item">
                <a (click)="activeTab('enviadasTab')" id="enviadasTab" class="nav-link text-body" href="#enviadas" role="tab" data-toggle="tab">Enviadas</a>
            </li>
        </ul>
        <!-- tabs panes -->
        
        <div class="mt-4 px-5 tab-content">
            <!--***************  NOTIFICACIONES RECIBIDAS *************** -->
            <div role="tabpanel" class="tab-pane fade show active" id="recibidas">
                <table class="table table-hover">
                    <tr *ngFor="let notificacion of notificaciones">
                      
                    <div *ngIf="notificacion.receptor._id == usuario._id">
                        
                        <td>{{notificacion.receptor.nombres +" "+  notificacion.receptor.apellidos}}</td>
                        <td>{{ notificacion.tipoNotificacionReceptor }}</td>
                        <td>{{notificacion.emisor.nombres +" "+  notificacion.emisor.apellidos }}</td>
                        <td><input (click)="aceptarNotificacion(notificacion)" type="button" class="btn uscoButton" value="ACEPTAR"></td>
                        <td><input (click)="rechazarNotificacion(notificacion)" type="button" class="btn uscoButton" value="RECHAZAR"></td>
                    </div>
                    </tr>
                </table>
            </div>

            <!-- **************************************************-->
            <!-- NOTIFICACIONES ENVIADAS -->
            <div role="tabpanel" class="tab-pane fade show" id="enviadas">
                <table class="table table-hover">
                    <tr *ngFor="let notificacion of notificaciones">
                    <div *ngIf="notificacion.emisor._id == usuario._id">
                        <td>{{notificacion.emisor.nombres +" "+  notificacion.emisor.apellidos }}</td>
                        <td>{{ notificacion.tipoNotificacionEmisor }}</td>
                
                        <td>{{ notificacion.receptor.nombres +" "+  notificacion.receptor.apellidos}}</td>
                        <td><input (click)="borrarNotificacion(notificacion)" type="button" class="btn uscoButton" value="BORRAR"></td>
                    </div>
                    </tr>
                </table>
            </div>
             <!-- **************************************************-->
        </div>
    </div>
    <!--
    <div class="my-5 text-center">
        <h4 *ngIf="notifiVacia">No tienes ninguna notificación...</h4>
    </div>
    -->
</div>