<app-header></app-header>
<div class="card-registro">
    <div class="card-uscoHeader">
        <h2>BANCO DE PROYECTOS</h2>
    </div>
    <div class="card-uscoContent">
        <h2 class="fuenteTitulo">REGISTRE SUS DATOS</h2>
        <h2 class="fuenteTituloDos">Por favor digite el siguiente formulario</h2>
        <br>
        <br>
        <div>
            <img src="../../assets/logousco.png" alt="Logo">
        </div>

        <div id="fuenteTituloTresNombre"> CORREO:</div>
        <input type="email" name="nombre" placeholder="Digite su correo" class="uscoInputsNombre" required>
        <div id="fuenteTituloTresNombre"> CONTRASEÑA:</div>
        <input type="password" name="nombre" placeholder="Digite su contraseña" class="uscoInputsNombre" required>
        <div id="fuenteTituloTresNombre"> CONFIRME SU CONTRASEÑA:</div>
        <input type="password" name="nombre" placeholder="Digite de nuevo su contraseña" class="uscoInputsNombre" required>
        <div class="contenedor-inputs">
            <div class="espacio"></div>
            <div class="espacio"></div>
            <p id="fuenteAtras">Volver ATRAS</p>

            <input type="submit" value="VERIFICAR" class="uscoButton" required>
        </div>

    </div>
</div>
<app-footer></app-footer>