<!--
    - Proyecto:         BPUS
    - Componente:       cambio-clave
    - Desarrollador:    Cristian Julián Andrade Murillo
    - Descripción:      Esta es la ventana en la que una se cambia de clave cuando el código de validación
                        es verificado.  
    -Última modificación:  18/05/2019   
-->
<div class="usco-card">
    <div class="card-uscoHeader">
        <h2>BANCO DE PROYECTOS</h2>
    </div>
    <div class="card-uscoContent">
        <h3 class="text-center ">¿OLVIDASTE LA CONTRASEÑA?</h3>
        <h6 class="text-center font-weight-lighter font-italic ">Por favor llene el formulario</h6>
        <br>
        <form [formGroup]="passwordForm" (ngSubmit)="savePassword()" appPasswordMismatch>
            <div class="w-100 form-group custom-control-inline">
                <label for="newPassword" class="font-weight-bold ">CONTRASEÑA NUEVA:</label>
                <input type="password" formControlName="newPassword" class="uscoInputs" id="newPassword" placeholder="contraseña" title="Debe contener al menos una letra mayúscula y un número y un carácter especial, y mínimo 8 carácteres." pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&]).{8,32}"
                    required>
            </div>
            <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="alert alert-danger">
                <div *ngIf="newPassword.errors.required">
                    La contraseña es requerida.
                </div>
                <div *ngIf="newPassword.errors.invalidPassword">
                    Debe contener al menos una letra mayúscula y un número y un carácter especial, y mínimo 8 carácteres.
                </div>
            </div>
            <div class="w-100 form-group custom-control-inline">
                <label for="confirmNewPassword" class="font-weight-bold ">CONFIRME SU CONTRASEÑA:</label>
                <input type="password" formControlName="confirmNewPassword" class="uscoInputs" id="confirmNewPassword" placeholder="confirme contraseña" title="Las contraseñas deben coincidir" required>
            </div>
            <div *ngIf="confirmNewPassword?.invalid && (confirmNewPassword.dirty || confirmNewPassword.touched)" class="alert alert-danger">
                <div *ngIf="confirmNewPassword.errors.required">
                    La contraseña es requerida.
                </div>
            </div>
            <div *ngIf="passwordForm.errors?.mismatch && (passwordForm.touched || passwordForm.dirty)" class="alert alert-danger">
                Las contraseñas no coinciden.
            </div>
            <button type="submit" [disabled]="!passwordForm.valid" class="float-right btn uscoButton">CONFIRMAR</button>
        </form>
        <br>
        <a routerLink="/olvido-clave" class="float-left p-1 uscolink">Volver ATRÁS</a>
    </div>
</div>