<app-header>
</app-header>

<div class="card-login">
    <div class="card-uscoHeader">
        <h1>BANCO DE PROYECTOS</h1>
    </div>
    <div class="card-uscoContent">
        <form>
            <h2>LOGIN</h2>
            <br>
            <p>USUARIO:</p>
            <input class="uscoInputs" type="text" name="id" placeholder="Digite su numero de ID" maxlength="10" required pattern="([0-9]){2,10}" title="El ID es de maximo 10 caracteres solo numericos" onkeypress="return validaNumericos(event)">
            <p>CONTRASEÑA:</p>
            <input class="uscoInputs" type="password" placeholder="Digite su contraseña">
            <div class="card g-recaptcha" data-sitekey="6LePQaQUAAAAAIjw9HuJbJkbkTt7MrsNW1DMxnar"></div>
            <input type="submit" class="uscoButton" value="ENTRAR">
        </form>
        <a class="uscolink" routerLink="/olvidoclave">¿Olvidó su contraseña?</a>
    </div>

</div>

<app-footer></app-footer>