<app-header>
</app-header>

<div class="usco-card">
    <div class="card-uscoHeader">
        <h2>BANCO DE PROYECTOS</h2>
    </div>
    <div class="card-uscoContent">
        <h2 class="text-center">LOGIN</h2>
        <br>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="mx-5 form-group">
                <div class="txtcenter">
                    <label for="id" class="font-weight-bold">USUARIO:</label>
                </div>
                <input class="uscoInputs form-control" type="text" formControlName="id" name="id" placeholder="Digite su número de ID" maxlength="10" pattern="([0-9]){8,10}" onkeypress='return (event.charCode >= 48 && event.charCode <= 57)' title="El ID es entre 8-10 carácteres solo numéricos"
                    required>
            </div>
            <div *ngIf="id.invalid && (id.dirty || id.touched)" class="alert alert-danger">
                <div *ngIf="id.errors.required">
                    El ID es requerido.
                </div>
                <div *ngIf="id.errors.pattern">
                    El ID es entre 8-10 carácteres solo numéricos.
                </div>
            </div>
            <div class="mx-5 form-group">
                <div class="txtcenter">
                    <label for="password" class="font-weight-bold">CONTRASEÑA:</label>
                </div>
                <div class="input-group">
                    <input class="uscoInputs form-control" type="password" formControlName="password" id="password" placeholder="Digite su contraseña" maxlength="30" required>
                    <div class="input-group-append">
                        <button class="input-group-text input-inside-button" type="button" (click)="showpassword()"><i class='far fa-eye-slash' id="showpass"></i></button>
                    </div>
                </div>
            </div>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                <div *ngIf="password.errors.required">
                    La contraseña es requerida.
                </div>
            </div>
            <div class="txtcenter">
                <a class="btn uscoButton" routerLink="/registro">REGISTRARSE</a>
                <input type="submit" [disabled]="!loginForm.valid" class="btn uscoButton" value="ENTRAR">
            </div>
        </form>
        <br>
        <div class="txtcenter">
            <a class="uscolink" routerLink="/olvido-clave">¿Olvidó su contraseña?</a>
        </div>
    </div>

</div>

<app-footer></app-footer>