<!--
    - Proyecto:         BPUS
    - Componente:       Perfil Admin
    - Desarrollador:    John David Guerrero Córdoba
    - Descripción:      Perfil Admin con rutas hijas para CRUD de tablas
    -Última modificación:  27/07/2019   
-->
<h3 class="text-uppercase">SEDES</h3><br>
<div class="text-right" style="padding: 1%">
<button class="btn btn-outline-dark" style="margin:2px"><span class="fas fa-user-plus fa-2x"></span></button>
<button class="btn btn-outline-dark" style="margin:2px"><span class="fas fa-redo-alt fa-2x"></span></button>
</div>
<div class="table-responsive-md">
  <table class="table table-bordered">
     <thead>
    <tr class="tablaAdmin">
      <th scope="col" style="width: 10%" class="align-middle">#</th>
      <th scope="col" style="width: 10%" class="align-middle">Ciudad</th>
      <th scope="col" style="width: 10%" class="align-middle">Nombre</th>
      <th scope="col" style="width: 10%" class="align-middle">Año</th>
      <th scope="col" style="width: 10%" class="align-middle">Dirección</th>
      <th scope="col" style="width: 10%" class="align-middle">Horario de atención</th>
      <th scope="col" style="width: 10%" class="align-middle">Conmutador</th>
      <th scope="col" style="width: 10%" class="align-middle">Correo</th>
      <th scope="col" style="width: 10%" class="align-middle colorRojo">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
       <td>
        <div class="row">
          <div class="col text-left" style="width: 50%;padding: 2%">
            <button class="btn btn-outline-success" style="width: 100%;padding: 0%"><span class="fas fa-pencil-alt"></span></button>
          </div>
          <div class="col text-right" style="width: 50%;padding: 2%">
            <button class="btn btn-outline-danger" style="width: 100%;padding: 0%"><span class="far fa-trash-alt"></span></button>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
       <td>
        <div class="row">
          <div class="col text-left" style="width: 50%;padding: 2%">
            <button class="btn btn-outline-success" style="width: 100%;padding: 0%"><span class="fas fa-pencil-alt"></span></button>
          </div>
          <div class="col text-right" style="width: 50%;padding: 2%">
            <button class="btn btn-outline-danger" style="width: 100%;padding: 0%"><span class="far fa-trash-alt"></span></button>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
       <td>
        <div class="row">
          <div class="col text-left" style="width: 50%;padding: 2%">
            <button class="btn btn-outline-success" style="width: 100%;padding: 0%"><span class="fas fa-pencil-alt"></span></button>
          </div>
          <div class="col text-right" style="width: 50%;padding: 2%">
            <button class="btn btn-outline-danger" style="width: 100%;padding: 0%"><span class="far fa-trash-alt"></span></button>
          </div>
        </div>
      </td>
    </tr>
    <tr>
        <th scope="row">4</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
         <td>
          <div class="row">
            <div class="col text-left" style="width: 50%;padding: 2%">
              <button class="btn btn-outline-success" style="width: 100%;padding: 0%"><span class="fas fa-pencil-alt"></span></button>
            </div>
            <div class="col text-right" style="width: 50%;padding: 2%">
              <button class="btn btn-outline-danger" style="width: 100%;padding: 0%"><span class="far fa-trash-alt"></span></button>
            </div>
          </div>
        </td>
      </tr>
      <tr>
          <th scope="row">5</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
           <td>
            <div class="row">
              <div class="col text-left" style="width: 50%;padding: 2%">
                <button class="btn btn-outline-success" style="width: 100%;padding: 0%"><span class="fas fa-pencil-alt"></span></button>
              </div>
              <div class="col text-right" style="width: 50%;padding: 2%">
                <button class="btn btn-outline-danger" style="width: 100%;padding: 0%"><span class="far fa-trash-alt"></span></button>
              </div>
            </div>
          </td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td>
              <div class="row">
                <div class="col text-left" style="width: 50%;padding: 2%">
                  <button class="btn btn-outline-success" style="width: 100%;padding: 0%"><span class="fas fa-pencil-alt"></span></button>
                </div>
                <div class="col text-right" style="width: 50%;padding: 2%">
                  <button class="btn btn-outline-danger" style="width: 100%;padding: 0%"><span class="far fa-trash-alt"></span></button>
                </div>
              </div>
            </td>
          </tr>
  </tbody>
  </table>
  <div class="row">
    <div class="col">
    </div>
    <div class="col text-right">
      <button class="btn btn-outline-dark" style="width: 50px;margin-right: 2px"><span class="fas fa-arrow-left"></span></button>
      <input class="" type="text" value="1" style="width: 45px;height: 37px;margin: 0px;padding-bottom: 8px;text-align: center">
      <button class="btn btn-outline-dark" style="width: 50px;margin-left: 2px"><span class="fas fa-arrow-right"></span></button>
    </div>
  </div>
</div>