<!--
    - Proyecto:         BPUS
    - Componente:       Plantilla solicitud
    - Desarrollador:    Cristian Julián Andrade Murillo.
    - Descripción:      Plantilla de solicitud con tablas dinámicas
    -Última modificación:  08/11/2019   
-->
<div class="mt-3 px-5 container">
    <form [formGroup]="solicitudForm" (ngSubmit)="notificar(solicitudForm)" id="solicitudForm">
        <div class="row animated fadeIn fast">
            <div class="col-8 text-center">
                <h4 class="uscoSesion">FORMULARIO DE INSCRIPCIÓN</h4>
            </div>
            <div class="col-4 text-center">
                <h6 class="uscoSearchTitulo" style="margin: 0px;padding:0px;">Fecha:</h6>
                <p class="uscoSesion" style="margin: 0px;padding:0px;font-size: 15px">{{jstoday}}</p>
            </div>
        </div>

        <!--****Sección de titulo y linea de investigacion****-->
        <div class="mt-5 row animated fadeIn fast">
            <div class="col-6">
                <label for="titulo" class="font-weight-bold">TÍTULO:</label>
                <input formControlName="titulo" class="uscoInputs form-control" placeholder="Ponle un titulo a tu proyecto" type="text" maxlength="60" required>
                <h6 *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)" class="mt-2" style="color:red;">
                    <div *ngIf="titulo.errors.required">
                        EL titulo es requerido
                    </div>
                    <div *ngIf="titulo.errors.maxLength">
                        El titulo es muy largo
                    </div>
                </h6>
            </div>
            <div class="col-6">
                <label for="lineaInvestigacion" class="font-weight-bold">LÍNEA DE INVESTIGACIÓN:</label>
                <input formControlName="lineaInvestigacion" class="uscoInputs form-control" placeholder="Ingrese la línea de investigación del proyecto" type="text" required>
                <h6 *ngIf="lineaInvestigacion.invalid && (lineaInvestigacion.dirty || lineaInvestigacion.touched)" class="mt-2" style="color:red;">
                    <div *ngIf="lineaInvestigacion.errors.required">
                        La linea de investigacion es requerida
                    </div>
                    <div *ngIf="lineaInvestigacion.errors.maxLength">
                        La linea de investigacion es muy larga
                    </div>
                </h6>
            </div>
        </div>

        <div class="mt-4 row animated fadeIn fast">
            <div class="col-10">
                <h5 class="uscoSearchTitulo text-uppercase">Investigadores</h5>
                <!--****Table de Usuarios****-->
                <table class="table table-bordered shadow bg-white rounded">
                    <thead class="text-center">
                        <tr class="colorCafe">
                            <th scope="col"><label class="uscoSesion text-uppercase" style="margin: 0px;padding:0px">No.</label></th>
                            <th scope="col"><label class="uscoSesion text-uppercase" style="margin: 0px;padding:0px">Código</label></th>
                            <th scope="col"><label class="uscoSesion text-uppercase" style="margin: 0px;padding:0px">Nombre completo</label></th>
                            <th scope="col"><label class="uscoSesion text-uppercase" style="margin: 0px;padding:0px">confirmacion (firma)</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <th scope="row"><label class="uscoSesion" style="margin: 0px;padding:0px">1</label></th>
                            <td><input formControlName="codigoEstudiante1" name="codigoEstudiante1" class="selectSearch" placeholder="{{usuario.codigoUniversitario}}" type="text" style="height: 30px;border: 0px" disabled></td>
                            <td><input formControlName="nombreEstudiante1" name="nombreEstudiante1" class="selectSearch" placeholder="{{usuario.nombres}} {{usuario.apellidos}}" type="text" style="height: 30px;border: 0px" disabled></td>
                            <td><input formControlName="apellidoEstudiante1" name="apellidoEstudiante1" class="selectSearch" placeholder="APROBADO" type="text" style="height: 30px;border: 0px" disabled></td>
                        </tr>
                        <tr class="text-center">
                            <th scope="row"><label class="uscoSesion" style="margin: 0px;padding:0px">2</label></th>
                            <td><input formControlName="codigoEstudiante2" name="codigoEstudiante2" class="selectSearch" placeholder="Código del estudiante" type="text" style="height: 30px;border: 0px" pattern="[0-9]{11}"></td>
                            <td><input formControlName="nombreEstudiante2" name="nombreEstudiante2" class="selectSearch" placeholder="Nombre completo del Estudiante" type="text" style="height: 30px;border: 0px" pattern="([a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+){2,50}"></td>
                            <td><input formControlName="apellidoEstudiante2" name="apellidoEstudiante2" class="selectSearch" placeholder="APROBADO" type="text" style="height: 30px;border: 0px" disabled></td>
                        </tr>
                        <tr class="text-center">
                            <th scope="row"><label class="uscoSesion" style="margin: 0px;padding:0px">3</label></th>
                            <td><input formControlName="codigoEstudiante3" name="codigoEstudiante3" class="selectSearch" placeholder="Código del estudiante" type="text" style="height: 30px;border: 0px" pattern="[0-9]{11}"></td>
                            <td><input formControlName="nombreEstudiante3" name="nombreEstudiante3" class="selectSearch" placeholder="Nombre completo del Estudiante" type="text" style="height: 30px;border: 0px" pattern="([a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+){2,50}"></td>
                            <td><input formControlName="apellidoEstudiante3" name="apellidoEstudiante3" class="selectSearch" placeholder="APROBADO" type="text" style="height: 30px;border: 0px"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--****Boton de agregar estudianntes****-->
            <div class="col-2 my-auto mx-auto text-left">
                <button (click)="solicitarEstudiantes()" class="text-uppercase iconRadio" style="color: black;font-size: 18px;font-family:Segoe UI;background-color: white">
                <span class="fas fa-plus-circle fa-lg"></span>
                agregar
              </button>
            </div>
        </div>

        <!--****información personal****-->
        <div class="mt-5 px-5 row animated fadeIn fast">
            <div class="col-6">
                <h6 class="font-weight-bold">CORREO ELECTRÓNICO:</h6>
                <h5 class="font-weight-light">{{usuario.email}}</h5>
                <h6 class="mt-3 font-weight-bold">TELÉFONO:</h6>
                <h5 class="font-weight-light">{{usuario.telefono}}</h5>
            </div>
            <div class="col-6">
                <h6 class="mt-3 font-weight-bold">NÚMERO DE DOCUMENTO:</h6>
                <h5 class="font-weight-light">{{usuario.numDocumento}}</h5>
            </div>
        </div>

        <!--****Lugar de ejecución del proyecto****-->
        <div class="mt-3 px-5 row animated fadeIn fast">
            <h4 class="mb-3 uscoSesion text-center text-uppercase">Lugar de ejecución del proyecto</h4>
            <div class="col-6">
                <label for="departamento" class="font-weight-bold text-uppercase">departamento</label>
                <select name="departamento" class="custom-select" (change)="changeDepartment($event)" formControlName="departamento">
                    <option value="" selected>Departamento...</option>
                    <option value="volvo">Volvo</option>
                    <option value="fiat">Fiat</option>
                    <option value="audi">Audi</option>
                </select>
                <h6 *ngIf="departamento.invalid && (departamento.dirty || departamento.touched)" class="mt-2" style="color:red;">
                    <div *ngIf="departamento.errors.required">
                        Debes seleccionar un departamento
                    </div>
                </h6>
                <!--Duracion del protecto-->
                <label for="duracionProyecto" class="mt-3 font-weight-bold text-uppercase">Duración del proyecto(4-12 meses)</label>
                <input formControlName="duracionProyecto" type="number" class="form-control" id="duracionProyecto" placeholder="Escriba la duración del proyecto" min="4" max="12" required>
                <h6 *ngIf="duracionProyecto.invalid && (duracionProyecto.dirty || duracionProyecto.touched)" class="mt-2" style="color:red;">
                    <div *ngIf="duracionProyecto.errors.required">
                        La duracion del proyecto es requerida
                    </div>
                    <div *ngIf="duracionProyecto.errors.max">
                        La duracion del proyecto es muy larga
                    </div>
                    <div *ngIf="duracionProyecto.errors.min">
                        La duracion del proyecto es muy corta
                    </div>
                </h6>
            </div>
            <div class="col-6">
                <label for="ciudad" class="font-weight-bold text-uppercase">ciudad</label>
                <select name="ciudad" class="custom-select" (change)="changeCity($event)" formControlName="ciudad">
                    <option value="" selected>Ciudad...</option>
                    <option value="volvo">Volvo</option>
                    <option value="fiat">Fiat</option>
                    <option value="audi">Audi</option>
                </select>
                <h6 *ngIf="ciudad.invalid && (ciudad.dirty || ciudad.touched)" class="mt-2" style="color:red;">
                    <div *ngIf="ciudad.errors.required">
                        Debes seleccionar una ciudad
                    </div>
                </h6>
            </div>
        </div>

        <!--****Tipo de proyecto ****-->
        <div class="mt-5 px-5 row animated fadeIn fast">
            <h4 class="mb-3 uscoSesion text-center text-uppercase">tipo de proyecto</h4>
            <div class="col-6">
                <div class="custom-control">
                    <input formControlName="tipoProyecto" type="radio" class="custom-control-input" id="investigacionBasica" value="Investigación Básica" name="tipoProyecto">
                    <label class="custom-control-label text-uppercase font-weight-bold" for="investigacionBasica">Investigación Básica</label>
                </div>
                <div class="my-3 custom-control">
                    <input formControlName="tipoProyecto" type="radio" class="custom-control-input" id="investigacionAplicada" value="Investigación Aplicada" name="tipoProyecto">
                    <label class="custom-control-label text-uppercase font-weight-bold" for="investigacionAplicada">Investigación Aplicada</label>
                </div>
                <div class="custom-control">
                    <input formControlName="tipoProyecto" type="radio" class="custom-control-input" id="desTecExp" value="Desarrollo tecnológico o experimental" name="tipoProyecto">
                    <label class="custom-control-label text-uppercase font-weight-bold" for="desTecExp">Desarrollo tecnológico o experimental</label>
                </div>
            </div>
            <div class="col-6">
                <label class="font-weight-bold text-uppercase" for="keyWords">Descriptores/Palabras clave:</label>
                <input formControlName="palabrasClave" type="text" class="uscoInputs form-control" id="keyWords" maxlength="500" placeholder="Escriba las palabras clave" (keyup)="countChars();" required>
                <p id="charNum" class="ml-2 mt-1">0/500</p>
                <h6 *ngIf="palabrasClave.invalid && (palabrasClave.dirty || palabrasClave.touched)" class="mt-2" style="color:red;">
                    <div *ngIf="palabrasClave.errors.required">
                        La(s) palabra(s) clave(s) requerida(s)
                    </div>
                </h6>
            </div>
        </div>

        <!--****Resumen del proyecto****-->
        <div class="mt-5 px-5 animated fadeIn fast">
            <h4 class="uscoSesion text-center text-uppercase">resumen del proyecto</h4>
            <div class="form-group">
                <textarea formControlName="resumen" class="form-control" rows="10" id="resumen" maxlength="3000" placeholder="Escriba un breve resumen con la idea de su proyecto" required></textarea>
            </div>
            <h6 *ngIf="resumen.invalid && (resumen.dirty || resumen.touched)" class="mt-2" style="color:red;">
                <div *ngIf="resumen.errors.required">
                    El resumen es requerido
                </div>
            </h6>
        </div>

        <div class="mt-5 row animated fadeIn fast">
            <div class="col text-right">
                <button type="submit" class="text-uppercase iconRadio" [disabled]="!solicitudForm.valid" style="color: #8F141B ;font-size: 18px;font-family:Segoe UI;margin-bottom: 10px;background-color: white">
                    Enviar  
                    <span class="far fa-save fa-lg colorNegro"></span>
                  </button>
            </div>
            <div class="col text-left">
                <button type="button" class="text-uppercase iconRadio" style="color: #8F141B ;font-size: 18px;font-family:Segoe UI;margin-bottom: 10px;background-color: white" onClick="window.print()">
                      <span class="fas fa-download fa-lg colorNegro"></span>
                      descargar
                  </button>
            </div>
        </div>
    </form>
</div>