<!--
    - Proyecto:         BPUS
    - Componente:       Plantilla solicitud
    - Desarrollador:    Cristian Julián Andrade Murillo.
    - Descripción:      Plantilla de solicitud con tablas dinámicas
    -Última modificación:  08/11/2019   
-->
<div class="mt-3 px-5 container">
    <form [formGroup]="solicitudForm" (ngSubmit)="notificar(solicitudForm)" id="solicitudForm">
        <div class="row animated fadeIn fast">
            <div class="col-8 text-center">
                <h4 class="uscoSesion">FORMULARIO DE INSCRIPCIÓN</h4>
            </div>
            <div class="col-4 text-center">
                <h6 class="uscoSearchTitulo" style="margin: 0px;padding:0px;">Fecha:</h6>
                <p class="uscoSesion" style="margin: 0px;padding:0px;font-size: 15px">{{jstoday}}</p>
            </div>
        </div>

        <!--****Sección de titulo y linea de investigacion****-->
        <div class="mt-5 row animated fadeIn fast">
            <div class="col-6">
                <label for="titulo" class="font-weight-bold">TÍTULO:</label>
                <input formControlName="titulo" class="uscoInputs form-control" placeholder="Ponle un titulo a tu proyecto" type="text" maxlength="60" required>
                <h6 *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)" class="mt-2" style="color:red;">
                    <div *ngIf="titulo.errors.required">
                        EL titulo es requerido
                    </div>
                    <div *ngIf="titulo.errors.maxLength">
                        El titulo es muy largo
                    </div>
                </h6>
            </div>
            <div class="col-6">
                <label for="lineaInvestigacion" class="font-weight-bold">LÍNEA DE INVESTIGACIÓN:</label>
                <input formControlName="lineaInvestigacion" class="uscoInputs form-control" placeholder="Ingrese la línea de investigación del proyecto" type="text" required>
                <h6 *ngIf="lineaInvestigacion.invalid && (lineaInvestigacion.dirty || lineaInvestigacion.touched)" class="mt-2" style="color:red;">
                    <div *ngIf="lineaInvestigacion.errors.required">
                        La linea de investigacion es requerida
                    </div>
                    <div *ngIf="lineaInvestigacion.errors.maxLength">
                        La linea de investigacion es muy larga
                    </div>
                </h6>
            </div>
        </div>

        <div class="mt-4 row animated fadeIn fast">
            <div class="col-10">
                <h5 class="uscoSearchTitulo text-uppercase">Investigadores</h5>
                <!--****Table de Usuarios****-->
                <table class="table table-bordered shadow bg-white rounded">
                    <thead class="text-center">
                        <tr class="colorCafe">
                            <th scope="col"><label class="uscoSesion text-uppercase" style="margin: 0px;padding:0px">No.</label></th>
                            <th scope="col"><label class="uscoSesion text-uppercase" style="margin: 0px;padding:0px">Código</label></th>
                            <th scope="col"><label class="uscoSesion text-uppercase" style="margin: 0px;padding:0px">Nombre completo</label></th>
                            <th scope="col"><label class="uscoSesion text-uppercase" style="margin: 0px;padding:0px">confirmacion (firma)</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <th scope="row"><label class="uscoSesion" style="margin: 0px;padding:0px">1</label></th>
                            <td><input name="codigoEstudiante1" class="selectSearch" placeholder="{{usuario.codigoUniversitario}}" type="text" style="height: 30px;border: 0px" disabled></td>
                            <td><input name="nombreEstudiante1" class="selectSearch" placeholder="{{usuario.nombres}} {{usuario.apellidos}}" type="text" style="height: 30px;border: 0px" disabled></td>
                            <td><input name="firmaEstudiante1" class="selectSearch" placeholder="APROBADO" type="text" style="height: 30px;border: 0px" disabled></td>
                        </tr>
                        <tr class="text-center">
                            <th scope="row"><label class="uscoSesion" style="margin: 0px;padding:0px">2</label></th>
                            <td><input (keyup)="buscarEstudiante('codigoEstudiante2')" formControlName="codigoEstudiante2" id="codigoEstudiante2" class="selectSearch" placeholder="Código del estudiante" type="text" style="height: 30px;border: 0px" maxlength="11"
                                    pattern="[0-9]{11}" onkeypress='return (event.charCode >= 48 && event.charCode <= 57)'>
                                <h6 *ngIf="(codigoEstudiante2.dirty || codigoEstudiante2.touched)" class='mt-1' style="color:red;">
                                    <div *ngIf="estudiante2 === 'Nombre completo del Estudiante' && codigoEstudiante2.value.length === 11 && codigoEstudiante2.value !== usuario.codigoUniversitario">
                                        El estudiante no está registrado
                                    </div>
                                    <div *ngIf="estudiante2 === 'Nombre completo del Estudiante' && codigoEstudiante2.value.length > 0 && codigoEstudiante2.value.length < 11">
                                        Código muy corto
                                    </div>
                                    <div *ngIf="estudiante3 === 'Nombre completo del Estudiante' && (codigoEstudiante2.value ===  usuario.codigoUniversitario || (codigoEstudiante2.value === codigoEstudiante3.value && estudiante2 !== 'Nombre completo del Estudiante'))">
                                        Ya esta inscrito en la solicitud
                                    </div>
                                </h6>
                                <td>
                                    <input formControlName="nombreEstudiante2" name="nombreEstudiante2" class="selectSearch" placeholder="{{ estudiante2 }}" type="text" style="height: 30px;border: 0px" disabled>
                                </td>
                                <td><input formControlName="firmaEstudiante2" name="firmaEstudiante2" class="selectSearch" placeholder="PENDIENTE" type="text" style="height: 30px;border: 0px" disabled></td>
                        </tr>
                        <tr class="text-center">
                            <th scope="row"><label class="uscoSesion" style="margin: 0px;padding:0px">3</label></th>
                            <td><input (keyup)="buscarEstudiante('codigoEstudiante3')" formControlName="codigoEstudiante3" id="codigoEstudiante3" class="selectSearch" placeholder="Código del estudiante" type="text" style="height: 30px;border: 0px" maxlength="11"
                                    pattern="[0-9]{11}" onkeypress='return (event.charCode >= 48 && event.charCode <= 57)'>
                                <h6 *ngIf="(codigoEstudiante3.dirty || codigoEstudiante3.touched)" class='mt-1' style="color:red;">
                                    <div *ngIf="estudiante3 === 'Nombre completo del Estudiante' && codigoEstudiante3.value.length === 11 && codigoEstudiante3.value !== usuario.codigoUniversitario">
                                        El estudiante no está registrado
                                    </div>
                                    <div *ngIf="estudiante3 === 'Nombre completo del Estudiante' && codigoEstudiante3.value.length > 0 && codigoEstudiante3.value.length < 11">
                                        Código muy corto
                                    </div>
                                    <div *ngIf="estudiante3 === 'Nombre completo del Estudiante' && (codigoEstudiante3.value ===  usuario.codigoUniversitario || (codigoEstudiante3.value === codigoEstudiante2.value && estudiante2 !== 'Nombre completo del Estudiante'))">
                                        Ya esta inscrito en la solicitud
                                    </div>
                                </h6>
                            </td>
                            <td><input formControlName="nombreEstudiante3" name="nombreEstudiante3" class="selectSearch" placeholder="{{ estudiante3 }}" type="text" style="height: 30px;border: 0px" disabled></td>
                            <td><input formControlName="firmaEstudiante3" name="firmaEstudiante3" class="selectSearch" placeholder="PENDIENTE" type="text" style="height: 30px;border: 0px" disabled></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--****Boton de agregar estudianntes****-->


            <!--   <div class="col-2 my-auto mx-auto text-left">
                <button (click)="solicitarEstudiantes()" class="text-uppercase iconRadio" style="color: black;font-size: 18px;font-family:Segoe UI;background-color: white">
                <span class="fas fa-plus-circle fa-lg"></span>
                agregar
              </button> 
            </div> -->
        </div>

        <!--****información personal****-->
        <div class="mt-5 px-5 row animated fadeIn fast">
            <div class="col-6">
                <h6 class="font-weight-bold">CORREO ELECTRÓNICO:</h6>
                <h5 class="font-weight-light">{{usuario.email}}</h5>
                <h6 class="mt-3 font-weight-bold">TELÉFONO:</h6>
                <h5 class="font-weight-light">{{usuario.telefono}}</h5>
            </div>
            <div class="col-6">
                <h6 class="mt-3 font-weight-bold">NÚMERO DE DOCUMENTO:</h6>
                <h5 class="font-weight-light">{{usuario.numDocumento}}</h5>
            </div>
        </div>

        <!--****Lugar de ejecución del proyecto****-->
        <div class="mt-3 px-5 row animated fadeIn fast">
            <h4 class="mb-3 uscoSesion text-center text-uppercase">Lugar de ejecución del proyecto</h4>
            <div class="col-6">
                <!--pais-->
                <div class="form-group">
                    <label for="pais" class="font-weight-bold text-uppercase">País:</label>
                    <select (change)="cargarDepartamentosSinlimiteFiltrado()" id="pais" name="sedeUniversitaria" class="custom-select uscoInputs mb-3" required>
                        <option  *ngFor="let pais of paises" value="{{ pais._id}}">{{ pais.nombre}}</option>
                    </select>
                </div>
                <!--ciudad-->
                <div class="form-group">
                    <label for="ciudad" class="font-weight-bold text-uppercase">Ciudad:</label>
                    <select id="ciudad" name="sedeUniversitaria" class="custom-select uscoInputs mb-3" required>
                        <option  *ngFor="let ciudad of ciudades" value="{{ ciudad._id}}">{{ ciudad.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="departamento" class="font-weight-bold text-uppercase">Departamento:</label>
                <select (change)="cargarCiudadesSinlimiteFiltrado()" id="departamento" name="sedeUniversitaria" class="custom-select uscoInputs mb-3" required>
                    <option  *ngFor="let departamento of departamentos" value="{{ departamento._id}}">{{ departamento.nombre}}</option>
                </select>
            </div>
        </div>

        <!--Duracion del protecto-->
        <h4 class="mt-5 uscoSesion text-center text-uppercase">Duración del proyecto</h4>
        <div class="mt-3 px-5 w-50 row animated fadeIn fast">
            <label for="duracionProyectoMeses" class="mt-3 font-weight-bold text-uppercase">Duración del proyecto(4-12 meses)</label>
            <input formControlName="duracionProyectoMeses" type="number" class="uscoInputs form-control" id="duracionProyectoMeses" placeholder="Escriba la duración del proyecto" min="4" max="12" required>
            <h6 *ngIf="duracionProyectoMeses.invalid && (duracionProyectoMeses.dirty || duracionProyectoMeses.touched)" class="mt-2" style="color:red;">
                <div *ngIf="duracionProyectoMeses.errors.required">
                    La duracion del proyecto es requerida
                </div>
                <div *ngIf="duracionProyectoMeses.errors.max">
                    La duracion del proyecto es muy larga
                </div>
                <div *ngIf="duracionProyectoMeses.errors.min">
                    La duracion del proyecto es muy corta
                </div>
            </h6>
        </div>

        <!--****Tipo de proyecto ****-->
        <div class="mt-5 px-5 row animated fadeIn fast">
            <h4 class="mb-3 uscoSesion text-center text-uppercase">tipo de proyecto</h4>
            <div class="col-6">
                <div class="custom-control">
                    <input formControlName="tipoProyecto" type="radio" class="custom-control-input" id="investigacionBasica" value="Investigación Básica" name="tipoProyecto">
                    <label class="custom-control-label text-uppercase font-weight-bold" for="investigacionBasica">Investigación Básica</label>
                </div>
                <div class="my-3 custom-control">
                    <input formControlName="tipoProyecto" type="radio" class="custom-control-input" id="investigacionAplicada" value="Investigación Aplicada" name="tipoProyecto">
                    <label class="custom-control-label text-uppercase font-weight-bold" for="investigacionAplicada">Investigación Aplicada</label>
                </div>
                <div class="custom-control">
                    <input formControlName="tipoProyecto" type="radio" class="custom-control-input" id="desTecExp" value="Desarrollo tecnológico o experimental" name="tipoProyecto">
                    <label class="custom-control-label text-uppercase font-weight-bold" for="desTecExp">Desarrollo tecnológico o experimental</label>
                </div>
            </div>
            <div class="col-6">
                <label class="font-weight-bold text-uppercase" for="keyWords">Descriptores/Palabras clave:</label>
                <input formControlName="palabrasClaves" type="text" class="uscoInputs form-control" id="keyWords" maxlength="64" placeholder="Escriba las palabras clave" (keyup)="countChars();" required>
                <p id="charNum" class="ml-2 mt-1">0/64</p>
                <h6 *ngIf="palabrasClaves.invalid && (palabrasClaves.dirty || palabrasClaves.touched)" class="mt-2" style="color:red;">
                    <div *ngIf="palabrasClaves.errors.required">
                        La(s) palabra(s) clave(s) requerida(s)
                    </div>
                </h6>
            </div>
        </div>

        <!--****Resumen del proyecto****-->
        <div class="mt-5 px-5 animated fadeIn fast">
            <h4 class="uscoSesion text-center text-uppercase">resumen del proyecto</h4>
            <div class="form-group">
                <textarea formControlName="resumenProyecto" class="form-control" rows="7" id="resumen" maxlength="3000" placeholder="Escriba un breve resumen con la idea de su proyecto" (keyup)="countCharsResumen();espandirTexarea();" style="resize: none;" required></textarea>
            </div>
            <p id="charNumResumen" class="ml-2 mt-1">0/3000</p>
            <h6 *ngIf="resumenProyecto.invalid && (resumenProyecto.dirty || resumenProyecto.touched)" class="mt-2" style="color:red;">
                <div *ngIf="resumenProyecto.errors.required">
                    El resumen es requerido
                </div>
            </h6>
        </div>

        <div class="mt-5 row animated fadeIn fast">
            <div class="col text-right">
                <button type="submit" class="text-uppercase iconRadio" [disabled]="!solicitudForm.valid" style="color: #8F141B ;font-size: 18px;font-family:Segoe UI;margin-bottom: 10px;background-color: white">
                    Enviar  
                    <span class="far fa-save fa-lg colorNegro"></span>
                  </button>
            </div>
            <div class="col text-left">
                <button type="button" class="text-uppercase iconRadio" [disabled]="!solicitudForm.valid" style="color: #8F141B ;font-size: 18px;font-family:Segoe UI;margin-bottom: 10px;background-color: white" onClick="window.print()">
                      <span class="fas fa-download fa-lg colorNegro"></span>
                      descargar
                  </button>
            </div>
        </div>
    </form>
</div>