<!--
    - Proyecto:         BPUS
    - Componente:       Navbar de perfiles
    - Desarrollador:    John David Guerrero Córdoba
    - Descripción:      Menú de navegación realizado con dropdowns button, aplicado en todas las páginas
                        pero se puede habilitar donde las requiera el diseño.  
    -Última modificación:  20/07/2019   
-->

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 60px;border-style:solid;border-bottom-width: 1px;border-top-width: 1px;border-right-width: 0px;border-left-width: 0px">
  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <div class="btn-group" role="group">
      <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btnGroupDrop1" class="btn btn-outline my-2 my-sm-0 rounded-circle" style="margin-right: 20px; align-items: center;background-color: #E8E8E8"><span class="fas fa-bars fa-lg"></span></button>
      <div *ngFor="let menu of _SIDEBAR.menu" class="dropdown-menu animated fadeIn fast" aria-labelledby="btnGroupDrop1" style="background-color:#f6dbdb;margin-top: 12px;margin-left:0px">
    
        <a class="dropdown-header" href="#" ><img src="../assets/universidad-surcolombiana.png" alt="" style="width: 250px"></a>
        
        <a *ngFor="let menu of _SIDEBAR.menu" class=" uscoMenuNav  "  >{{menu.titulo}}   <a *ngFor="let submenu of menu.submenu" class="dropdown-item uscoMenuNav" [routerLink]="[submenu.url]"> <i [class]="submenu.icono"></i>{{submenu.titulo}}</a></a>
    
        <a (click)="_USUARIOSERVICE.logout()"  class="dropdown-item uscoMenuNav "  href="#"><i class="fas fa-sign-out-alt"></i>Cerrar sesión</a>
      </div>
    </div>
  </div>

</nav>