<app-header></app-header>
<div class="card-registro">
    <div class="card-uscoHeader">
        <h2>BANCO DE PROYECTOS</h2>
    </div>
    <div class="card-uscoContent">
        <h2 class="fuenteTitulo">REGISTRE SUS DATOS</h2>
        <h2 class="fuenteTituloDos">Por favor digite el siguiente formulario</h2>
        <div class="contenedor-inputs">
            <div class="espacio"></div>
            <div class="espacio"></div>
            <div id="fuenteTituloTresNombre"> NOMBRES</div>
            <div id="fuenteTituloTresApellido"> APELLIDOS</div>
            <input type="text" name="nombre" placeholder="Nombre" class="uscoInputsNombre" required>
            <input type="text" name="apellidos" placeholder="Apellidos" class="uscoInputsApellido" required>
            <div id="fuenteTituloSede"> SEDE UNIVERSITARIA</div>
            <div id="fuenteTituloTelefono"> TELEFONO</div>
            <input type="text" name="sede" placeholder="Seleccione..." required class="uscoInputsSede">
            <input type="tel" name="telefono" placeholder="Telefono" pattern="[0-9]{10}" class="uscoInputsTelefono" required>
            <div id="fuenteTituloFacultad"> FACULTAD</div>
            <div class="espacio"></div>
            <input type="text" name="nombre" placeholder="Nombre" class="uscoInputsFacultad" required>
            <div class="espacio"></div>
            <div id="fuenteTituloPrograma">PROGRAMA</div>
            <div class="espacio"></div>
            <input type="text" name="apellidos" placeholder="Apellidos" class="uscoInputsPrograma" required>
            <div class="espacio"></div>
            <p id="fuenteAtras">Volver ATRAS</p>
            <input type="submit" value="REGISTRAR" class="uscoButton" required>


        </div>


    </div>
</div>
<app-footer></app-footer>