/* You can add global styles to this file, and also import other style files */

body {
    font: 96% 'Open Sans', Arial, Helvetica, sans-serif;
    color: #4D626C;
    background: #FFF;
}

.centro {
    clear: both;
    margin: 0 auto;
    width: 990px;
}

.txtcenter {
    text-align: center;
}

header .logos .figure {
    float: left;
}

.header {
    width: 100%;
    padding: 15px 0 0 0;
    height: auto;
    background-color: #8F141B;
}

.footer {
    clear: both;
    float: left;
    margin: 60px 0 20px 0;
    width: 100%;
    font-size: 94%;
}

.usco-card {
    padding: 1.25rem;
    width: 45%;
    margin: 0 auto;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.25rem;
}

.card-uscoHeader {
    background-color: #8f141b;
    border-color: #707070;
    border-width: 1px;
    color: #CAB691;
    padding: 0.9rem;
    text-align: center;
}

.card-uscoContent {
    background-color: #F9E4E4;
    color: #000;
    border-color: #8F141B;
    border-width: 1px;
    padding: 0.9rem;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.uscoInputs {
    width: 100%;
    border-radius: 20px;
    background-color: #fff;
    padding: 0.4rem;
    font-family: Segoe UI;
    color: black;
    font-style: italic;
}

.uscoButton {
    background-color: #8F141B;
    border-color: #707070;
    border-width: 1px;
    color: #DFD4A6;
    padding: .375rem .75rem;
    margin: 1em 1em 1em 1em;
    cursor: pointer;
}

.uscolink {
    color: #8F141B;
    text-decoration: none;
}

input:invalid {
    border-color: red;
}
.uscoSearchTitulo {
    width: 100%;
    border-radius: 20px;
    background-color: #fff;
    padding: 0.4rem;
    font-family: Segoe UI;
    color: black;
}
.flechaSelect {
    background-image: url(/assets/flechaSelect.png);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.iconoSelect{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100px 0 100px;
    border-color: #8f141a transparent transparent transparent;
}
.categoriasSearch{
    background-color: #8f141b;
    border-width: 1px;
    padding: 0.9rem;
    text-align: center;
    border-radius: 20px;
}
.colorCategoria{
    color: #dfd9bf;
    text-align: center;
}
.uscoInputSearch {
    width: 100%;
    border-radius: 20px;
    background-color: #fff;
    padding: 0.6rem;
    font-family: Segoe UI;
    color: black;
    font-style: italic;
}
.selectSearch {
    width: 100%;
    background-color: #fff;
    padding: 0.6rem;
    font-family: Segoe UI;
    color: black;
    font-style: italic;
}
.flechaSelect {
    border: 1px solid #ccc;
    background: URL(/assets/flechaSelect.png) no-repeat 298px 3px #fff !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}