<!--
    - Proyecto:         BPUS
    - Componente:       Barra buscador de proyectos
    - Desarrollador:    Cristian Julián Andrade Murillo
    - Descripción:      La seccción donde se buscarán los proyectos por distintos filtros (palabras claves,
                        categoría,carrera y fecha).  
    -Última modificación:  05/02/2020   
-->

<app-navbar *ngIf="sesionLogo()"></app-navbar>


<div class="container animated fadeIn fast p-5" style="margin-top: 5px;">
    <h1 class="uscoSearchTitulo txtcenter p-5">BUSQUE UN PROYECTO DE INTERÉS</h1>
    <input class="uscoInputSearch m-3" type="text" placeholder="Digite una palabra clave">

    <img src="../assets/icoPdf.png" class="centro" alt="..." style="width: 80px;margin-top: 10px;">
</div>