<div class="usco-card">
    <div class="card-uscoHeader">
        <h2>BANCO DE PROYECTOS</h2>
    </div>
    <div class="card-uscoContent">
        <h2 class="text-center">REGISTRE SUS DATOS</h2>
        <h6 class="text-center font-weight-lighter font-italic">Por favor digite el siguiente formulario</h6>
        <form>
            <div class="form-group">
                <label for="email" class="font-weight-bold">CORREO:</label>
                <input type="email" name="email" placeholder="Digite su correo" class="uscoInputs" required>
            </div>
            <div class="form-group">
                <label for="email" class="font-weight-bold">CONTRASEÑA:</label>
                <input type="password" name="nombre" placeholder="Digite su contraseña" class="uscoInputs" required>
            </div>
            <div class="form-group">
                <label for="email" class="font-weight-bold">CONFIRME SU CONTRASEÑA:</label>
                <input type="password" name="nombre" placeholder="Digite de nuevo su contraseña" class="uscoInputs" required>
            </div>
            <div class="txtcenter">
                <a class="uscolink" routerLink="/login">Volver al Atrás</a>
                <input type="submit" value="VERIFICAR" class="uscoButton">
            </div>
        </form>
    </div>
</div>